<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: rgb(186, 186, 186);
      }
      .center-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="container center-card">
      <div class="col-md-4 mb-3">
        <div class="card">
          <img
            src="<%= product.img %>"
            class="card-img-top"
            alt="<%= product.name %>"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text">Category: <%= product.category %></p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
