<div class="container mt-5">
  <h1 class="mb-4" style="text-align: center">Your Orders</h1>

  <% orders.forEach(order => { %>
  <div class="card mb-3">
    <div class="card-header">Order ID: <%= order.orderId %></div>
    <div class="card-body">
      <h5 class="card-title">Items:</h5>

      <% order.items.forEach(item => { %>
      <p class="card-text">
        <%= item.quantity %> x <%= item.item.name %> - Rs. <%= item.price %>
      </p>
      <% }) %>
      <p class="card-text">
        <strong>Total Price:</strong> Rs. <%= order.totalPrice %>
      </p>
      <p class="card-text"><strong>Status:</strong> <%= order.status %></p>
      <p class="card-text">
        <strong>Order Date:</strong> <%= order.createdAt.toLocaleDateString() %>
      </p>
      <p><strong>Time: </strong> <%= order.createdAt.toLocaleTimeString() %></p>
    </div>
    <% if(order.status=="Pending") {%>
    <form
      action="/cancelorder/<%= order._id %>"
      method="post"
      style="width: 60%"
    >
      <button type="submit" class="btn btn-danger m-3">Cancel Order</button>
    </form>
    <%}%>
  </div>
  <% }) %>

  <nav class="pagination-nav mt-4" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <% for(let index=1; index <= totalPages; index++) { %>
      <li class="page-item <%= index === page ? 'active' : '' %>">
        <a class="page-link" href="/orders?page=<%= index %>"> <%= index %> </a>
      </li>
      <% } %>
    </ul>
  </nav>
</div>
